<section data-marker-target="{{id}}" class="webkite-result">
  {{#facet name="Image"~}}
    <div class="webkite-image-wrapper">
      <div class="webkite-image" style="background-image:url({{displayValue}})"><img src="{{displayValue}}"/></div>
    </div>
  {{~/facet~}}
  <div class="webkite-result-body">
    {{#facet name="Business Name"}}<h2 class="webkite-result-name">{{displayValue}}</h2>{{/facet}}
    {{#facet name="Geolocation"}}
      {{#all properties.distance properties.distance_units }}
        <span class="webkite-result-distance">{{properties.distance}} {{properties.distance_units}} {{t "away" default="away"}}</span>
      {{/all}}
    {{/facet}}
    {{#facet name="Category"}}
      <div class="webkite-result-category">
        {{#if filterable}}
          {{#each values}}<a href="#" class="webkite-add-filter" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a>{{#unless @last}}, <br>{{/unless}}{{/each}}
        {{else}}
          <span class="facet-values">{{displayValue}}</span>
        {{/if}}
      </div>
    {{/facet}}
    
    {{#any (find facets name="Address 1") (find facets name="City") (find facets name="State") (find facets name="Zip Code") (find facets name="Country") (find facets name="Address 2")}}
      <span class="webkite-result-address">
        {{~#facet name="Address 1"}}<span class="webkite-address-one">{{displayValue}}</span>{{/facet}}
        {{~#facet name="Address 2"}}<span class="webkite-address-two">{{displayValue}}</span>{{/facet}}
        {{~#facet name="City"}}<span class="webkite-city">{{displayValue}}</span>{{/facet}}
        {{~#facet name="State"}}<span class="webkite-state">{{displayValue}}</span>{{/facet}}
        {{~#facet name="Zip Code"}}<span class="webkite-zip">{{displayValue}}</span>{{/facet~}}
        {{~#facet name="Country"}}<span class="webkite-country">{{displayValue}}</span>{{/facet}}
      </span>
    {{/any}}
    
    {{#facet name="Phone Number"}}
      <span class="webkite-result-phone">{{displayValue}}</span>
    {{/facet}}
        
    {{#any (find facets name="Menu URL") (find facets name="Website") (find facets name="Email") (find facets name="Fax Number") (find facets name="Facebook") (find facets name="Twitter")}}
      <ul class="webkite-list-horizontal">
      	{{~#facet name="Menu URL"~}}
          <li><a class="webkite-website" href="{{displayValue}}" target="_blank">{{downcase displayName}}</a></li>
        {{~/facet~}}
        <li><a href="#" data-id="{{this.id}}" class="webkite-toggle-item" data-toggle="modal" data-speed="100ms">{{downcase (t "Details" default="details")}}</a></li>
        {{~#facet name="Website"~}}
          <li><a class="webkite-website" href="{{displayValue}}" target="_blank">{{downcase displayName}}</a></li>
        {{~/facet~}}
        {{~#facet name="Email"~}}
          <li><a href="mailto:{{displayValue}}">{{downcase displayName}}</a></li>
        {{~/facet~}}
        {{~#facet name="Facebook"~}}
          <li><a class="webkite-website" href="{{displayValue}}" target="_blank">{{downcase displayName}}</a></li>
        {{~/facet~}}
        {{~#facet name="Twitter"~}}
          <li><a href="https://twitter.com/{{displayValue}}" target="_blank">{{downcase displayName}}</a></li>
        {{/facet}}
      </ul>
    {{/any}}    
  </div>
</section>
